//mainsection
section.mainsection{
  min-height: 80vh;
}
//contentpages
section.contentpage{
  padding: $ga-around;
}
//quiz
div.evaluated{
  div{
    label{
      color: $co-neg;
    }
    label[data-correct]{
      color: $co-pos;
    }
  }
}