//boxen
div.box{
  position: relative;
  background-color: $co-akzent;
  padding: $ga-inner;
  height: 400px;
  overflow: hidden;
  &:not(.nohover){
    @include shadow();
  }
  &.sml {
    min-height: 350px;
  }
  &.mat{
    h3{
      margin-bottom: 10px;
    }
  }
  div.more{
    @include basic_hover{
      transform: translateX(4px);
      p{
        transform: translateX(4px);
      }
    }
  }
  div.badge{
    @include shadow();
  }
}