//basic button
button.btn,
div.btn{
  @include shadow();
  cursor: pointer;
  p{
    line-height: 100%;
  }
  background-color: $co-bg;
  padding: 10px 16px 13px 16px;
  border: $bo-standard;
}
//imagebutton
div.btn-dbl{
  cursor: pointer;
  p{
    line-height: 100%;
  }
  background-color: $co-bg;
  @include flex(row,center,center);
  &>p{
    padding: 10px 16px 13px 16px;
    border: $bo-standard;
  }
  @include shadow();

}
//badges
div.badge {
  color: $co-bg;
  padding: 4px 15px 7px 14px;
  border-radius: 50px;
  &.done {
    background-color: $co-pos;
  }
  &.progress {
    background-color: $co-neutral;
  }
  &.open {
    background-color: $co-neg;
  }
}