div,
header,
footer{
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    background-color: $co-akzent-dark-50;
    #app{
        background-color: crimson;
    };
    img{
        max-width: 100%;
    }
}