form.user_form{
  label{
    display: block;
    margin: 25px 0 5px 0;
    span.req{
      margin-left: 5px;
    }
  }
  input{
    border: $bo-standard;
    padding: 10px;
    width: 100%;
    font: $f-code-m;
  }
  button{
    border: $bo-standard;
    margin-top: $ga-inner;
  }
}
div.msg{
  margin: 0 $ga-around;
  @include content();
  padding: $ga-inner;
  background-color: $co-neg;
  color: $co-bg;
  &.success{
    background-color: $co-pos;
  }
}