//baseresets
html{
    scroll-behavior: smooth;
}
div#app{
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px ;
}
*{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}
:focus{
    outline: none;
}
/*img{
    pointer-events: none;
}*/
//button behaviour
button{
    cursor: pointer;
}
//editor presets
span.log-number{
    //color: #c9baf3;
    color: #b48ead;
}
span.log-string{
    //color: #9df187;
    color: #a3be8c;
}
span.log-boolean{
    //color: #a9cbff;
    color: #5e81ac;
}
