//colors
$co-bg: #FFFFFF;
$co-font: #222222;
$co-neutral: #003FD7;
$co-akzent: #FFFF00;
//$co-pos: #BBD842;
$co-pos: #60b41a;
$co-neg: #F04F68;

//specialfonts
$f-logo-l: 900 8rem/70% acumin-pro-wide, sans-serif;
$f-logo-s: 900 3rem/100% acumin-pro-wide, sans-serif;
$f-front-subline: 500 2rem/110% acumin-pro-wide, sans-serif;
//headlines
$f-headline-m: 700 2rem/120% acumin-pro-wide, sans-serif;
$f-headline-s: 700 1.6rem/120% acumin-pro-wide, sans-serif;
//text
$f-text-m: 400 1.2rem/120% acumin-pro-wide, sans-serif;
$f-text-s: 400 1rem/120% acumin-pro-wide, sans-serif;
//auszeichnungen
$f-code-l: 400 1.3rem/120% antarctican-mono, sans-serif;
$f-code-m: 400 1.1rem/120% antarctican-mono, sans-serif;
$f-code-s: 400 0.95rem/120% antarctican-mono, sans-serif;

//gaps
$ga-around: 30px;
$ga-inner: 25px;
$ga-top-s: 50px;
$ga-top-l: 70px;

//Iconsizes
$ic-s: 20px;
$ic-m: 50px;

//Borders
$bo-standard: 1px solid $co-font;
